<header>
<nav>
<div class="brand">
<h2>Synas WL</h2>
<img class="logo" src="/assets/images/Synas_Logo.png" alt="Logo de Synas WL">
</div>
<ul class="nav-main">
<li><a href="/index.html">Accueil</a></li>
<li><a href="/reglement.html">Règlement</a></li>
<li><a href="Lore/lore.html">Lore</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle">Plus ▼</a>
<ul class="dropdown-menu">
<li><a href="/streamers.html">Streamers</a></li>
<li><a href="/whitelist.html">Whitelist</a></li>
<li><a href="/equipe.html">Équipe</a></li>
<li><a href="/entreprise.html">Entreprise</a></li>
</ul>
</li>
</ul>
</nav>
</header>

